.dev-info-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-align: center;
    padding:10px;
}

.dev-info-description-div{
    margin:1rem;
}

.dev-info-description-div h1 {
    font-family: 'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif;
    font-weight:500;
}
.socials {
    display: flex;
    gap: 2em;
    flex: 1;

}

.socials img {
    width: 3em;
    height: 3em;
}

.dev-pic-img {
    width: 8rem;
    height: 8rem;
    border-radius: 5em;
}