body{
    /* overflow: hidden; */
}

.App {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    justify-content: flex-start;
    
}
.main-content {
    margin-top: 4.5rem;
    flex:1 1;
    padding-bottom: 2rem;
}
footer {
    text-align: center;
    padding: 5px;
    margin: auto;
    width: 100%;
    background-color: transparent;
    position: fixed;
    bottom: 0px;
    background-color: white;
}

footer a {
    text-decoration: none;
    color: black;
}
