.task {
    flex: 1 1 15rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: 15rem;
    min-width: 15rem;
    max-width: 20rem;
    border-radius: 1rem;
    overflow: scroll;
    background-color: rgb(198, 221, 200);
    margin: 0.4rem;
    word-wrap: break-word;
    padding: 1rem;
    gap: 2px;
}



.task-title {
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 5px;
    overflow: scroll;
    height: 2rem;
}

::-webkit-scrollbar {
    display: none;
}

.task-description {
    flex: 1;
    overflow: scroll;
    text-align: justify;
    margin-bottom: 10px;
    min-height: 4rem;
}

::-webkit-scrollbar {
    display: none;
}

.task-footer-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.task-timestamp {
    color: gray;
    font-size: 0.6rem;
    background: transparent;
    flex: 1 1;
    text-align: left;
    display: flex;
    justify-items: center;
    align-items: center;
    }
.buttons-div {
    display: flex;
    flex-direction: row;
}

.buttons-div img {
    margin: auto 0 auto 0.5rem;
    height: 1rem;
    transition: 350ms;
}

.buttons-div img:hover {
    scale: 1.4;
}
