.menu-bar {
    height: 4.5rem;
    background-color: rgb(141, 97, 66);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    width: 100vw;
    min-width: fit-content;
    flex: 1;
    margin-top: 0;
    z-index: 110;
    padding: 20px 30px 25px 10px;
    gap:10px;
    }

    .menubar-logo__menu-bar-icon {
        margin-top: 1rem;
        padding: 0.1rem;
        text-decoration: none;
}

.menu-bar-link {
    padding: 10px;
    color: white;
    font-size: 100%;
    font-weight: bolder;
    margin-right: auto;
    text-decoration: none;
}

.menu-bar-link:hover {
    color: rgb(37, 211, 159);
}

.menu-bar-log-in-span {
    flex: 1;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    font-weight: bolder;
    gap:10px;
}
.username-separator-div {
    border: 1px solid white;
    height: 1.5rem
}
.user-name {
    flex: 4;
    font-size: 1rem;
    margin-top: 1rem;
    text-align: right;
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

.logonhandler {
    text-align: right;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.logonhandler:hover {
    color: rgb(37, 211, 159);
}

@media screen and (max-width:500px) {

    .menu-bar * {
        font-size: 0.9rem;
        text-align: center;
    }

    .menu-bar-link {
        padding: 2px;
    }
    .menu-bar-log-in-span{
        padding-right: 4px;
        gap:5px;
    }
    .username-separator-div{
        height:2rem;
    }
    .menubar-logo__menu-bar-icon img{
        width: 1.7rem;
        object-fit: cover;
    }
    .menubar-logo__menu-bar-icon h1{
        font-size: 0.7rem;
    }
}
.signed-in__main-div {
    display: flex;
    gap: 0.8rem;
}

.signed-in__imgs {
    object-fit: 'cover';
    width: 1.8rem;
}

.signed-in__imgs:hover {
    scale: 1.2;
    transition: 300ms;
}